.container-quiz{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    max-width: 1120px;
    width: 90%;
    margin: 5% auto;
}
.wrapper-quiz{
    position: relative;
    margin: 50px 0 45px;
}


@media only screen and (min-width: 1025px) {
    .categorie{
        display: flex;
    }
}
.item-quiz{
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
   
}
.item-quiz h2{
    color: #fff;
    font-size: 2rem;
    margin: 10%;
    font-weight: 500;
}
.title_quiz{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    padding: 5rem;
    border-radius: 50%;
    color: rgb(77, 77, 77);
    font-weight: 500;
    font-size: 25px;

    transition: .3s ease-in;
    
}
.devices{
    background-image: linear-gradient(120deg, #ff9894 0%, #ffcbff 100%);
    box-shadow: 10px 10px 10px #ffcbff3f;
    animation-delay: 0s;
}
.communication{
    background-image: linear-gradient(120deg, #68f0a5 0%, #dcf7b4 100%);
    box-shadow: 10px 10px 10px #dcf7b438;
    animation-delay: 1s;
}
.creating{
    background-image: linear-gradient(120deg, #6e98f8 0%, #a7dff2 100%);
    box-shadow: 10px 10px 10px #a7dff23b;
    animation-delay: 2s;
}
.security{
    background-image: linear-gradient(120deg, #fc99dd 0%, #ffd8e6 100%);
    box-shadow: 10px 10px 10px #ffd8e63f;
    animation-delay: 3s;
}
.devices:hover{
    transform: scale(1.1);
}
.communication:hover{
    transform: scale(1.1);
}
.creating:hover{
    transform: scale(1.1);
}
.security:hover{
    transform: scale(1.1);
}

@keyframes animate {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

@media only screen and (max-width: 1024px) {
    .background-quiz{
      background-color: rgb(34, 33, 33);
    }
   
  }