body{
  height: 100%;
}
.container__tools{
  margin: 20px auto;
  width: 900px !important;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 600px;
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}
.owl-nav{
  font-size: 5rem;
  color: #fff;
  font-weight: 600;
  margin-top: -40px !important;
}
.owl-dots{
  display: none;
}
.container__tools h1 {
    color: black;
    text-align: center;
}
.container__tools img{
   width: 200px !important;
   height: 300px;
   float: left;
   margin: 40px;
}
.content__tools{
    font-size: 20px;
    font-weight: 500;
}
.container__tools button{

  z-index: 1;
  padding: 12px 80px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 25px;
  border: none;
  background-color: #EF4B6C;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  float: left;
  position: absolute;
  bottom: 20%;
}

.container__tools button a {
  color: #fff;
}
.container__tools button:hover{
  transform: scale(1.05);
}
@media screen and (max-width: 1026px){
    .container__tools{
      max-width: 800px;
      max-height: 500px;
    }
    .content__tools{
      font-size: 17px;
    }
    .container__tools h1 {
      color: black;
      text-align: center;
      font-size: 3rem;
  }
  .container__tools img{
     width: 170px !important;
     height: 250px;
     float: left;
     margin: 20px;
  }
  .container__tools button{
    font-size: 17px;
   
  }
}

@media screen and (max-width: 812px){
  .container__tools{
    max-width: 600px;
  }
  .content__tools{
    font-size: 15px;
  }
  .container__tools h1 {
    color: black;
    text-align: center;
    font-size: 2.7rem;
}
.container__tools img{
   width: 100px !important;
   height: 180px;
   shape-outside: circle();
   float: left;
   margin: 20px;
}
.container__tools button{
  font-size: 15px;
  bottom: 18%;
 
}
}
@media screen and (max-width: 612px){
  .container__tools{
    max-width: 400px;
  }
  .content__tools{
    font-size: 12px;
  }
  .container__tools h1 {
    color: black;
    text-align: center;
    font-size: 2.3rem;
}
.container__tools img{
   width: 80px !important;
   height: 150px;
   shape-outside: circle();
   float: left;
   margin: 20px;
}
.container__tools button{
  font-size: 15px;
  bottom: 18%;
 
}
}
@media screen and (max-width: 412px){
  .container__tools{
    margin: 10px auto;
    max-width: 300px;
    max-height: 400px;
  }
  .content__tools{
    font-size: 9px;
  }
  .container__tools h1 {
    color: black;
    text-align: center;
    font-size: 2rem;
}
.container__tools img{
   width: 60px !important;
   height: 100px;
   shape-outside: circle();
   float: left;
   margin: 20px;
}
.container__tools button{
  font-size: 15px;
  bottom: 5%;
 
}
}