
.container__tools{
  margin: 100px auto;
  width: 1000px !important;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 600px;
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}
.container__tools h1 {
    color: black;
    text-align: center;
}
.container__tools img{
   width: 200px !important;
   height: 300px;
   float: left;
   margin: 40px;
}
.content__tools{
    font-size: 20px;
    font-weight: 500;
}
.container__tools button{

  z-index: 1;
  padding: 12px 80px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 25px;
  border: none;
  background-color: #EF4B6C;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  float: left;
  position: absolute;
  bottom: 20%;
}

.container__tools button a {
  color: #fff;
}
.container__tools button:hover{
  transform: scale(1.05);
}