.box {
    padding: 4rem;
    background: #DEE6E7 !important;
    margin: 0 !important;
    box-shadow: none !important;

}

.box h1 {
    text-align: center;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.box h2 {
    font-size: 1.4rem;
    color:#fff;
    font-weight: 400;
    padding: 10px;
    
}

.box h1:before {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%) translateY(80px);
    height: 4px;
    width: 100px;
    background-color: rgb(206, 39, 206);
}

.box__container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    max-width: 1120px;
    width: 90%;
    margin: 5% auto;
    box-shadow: 0 8px 10px 0 rgba(38, 163, 221, 0.2), 0 7px 20px 0 rgba(38, 163, 221, 0.2);
    border-radius: 10px;
    background-image: linear-gradient(to top right, #6200ffc4 10%, #6a00ffd0 40%, #9458c6 60%, #98107bf3 100%);
}

.box__wrapper {
    position: relative;
    margin: 50px 0 45px;
}

.box__items {
    margin-bottom: 24px;
}

.box__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 1rem 4rem;
    border-radius: 10px;
}




.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}

.box__item__img {
    width: 60px;
    height: 60px;
    transition: all 0.2s linear;
    z-index: 2;
}
.img{
    width: 110px;
    height: 110px;
    position: relative;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.295);
}
.img::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 50%;
    height: 110px;
    background: rgba(100,100,100,0.2);
    border-radius: 55px 0 0 55px;
    z-index: 1;
}

.box__item__img:hover {
    transform: scale(1.1);
}

.box__item__info {
    padding-top: 20px;
}

.box__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
}

@media only screen and (min-width: 1200px) {
    .content__blog__container {
        width: 84%;
    }
}

@media only screen and (min-width: 1024px) {
    .box__items {
        display: flex;
    }
}

@media only screen and (max-width: 1024px) {
    .box__item {
        margin-bottom: 2rem;
    }
}