.footer-container{
    background-color: #DEE6E7;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
.footer-container h1{
    z-index: 1;
    color: #fff;
    font-size: 4rem;
}
.svg-footer{
    position: absolute;
    width: 100%;
    z-index: 0;
 
    

}