html{
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top right, #6200ffc4 10%, #6a00ffd0 40%, #9458c6 60%, #98107bf3 100%) !important;
    
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App .card {
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin: 5% 5% 5%;
}

label.radio {
    display: block;
    text-align: left;
    padding: 15px;
    margin-bottom: 5px;
    font-size: 20px;
}

label.radio+.radio {
    margin-left: 0;
}

label.radio input {
    margin-right: 10px;
}

.home,
.guides,
.sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.sign-up, .guides, .sign-up {
    color: #fff;
    font-size: 100px;
}

.quiz{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #fff;
    margin-top: 5%;
}
.modal{
    z-index: 999;
}
.modal-card {
    margin-top: 20px !important;
    z-index: 888;
}
@media screen and (max-width: 769px){
    .modal-card{
        max-width: 640px !important;
        margin: 25px auto !important;
    }
    
}
@media screen and (max-width: 650px){
    .modal-card{
        max-width: 440px !important;
        margin: 25px auto !important;
    }
}
@media screen and (max-width: 450px){
    .modal-card{
        max-width: 300px !important;
        margin: 25px auto !important;
    }
}